<!--The content below is only a placeholder and can be replaced.-->
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

  <header>
    <app-loginbar></app-loginbar>
  </header>

<div style = "text-align: center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<footer>
  <div class = container>
  <app-message-compose></app-message-compose>
  </div>
</footer>





