<nav *ngIf="showNavBar"  class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" >
  <div class="d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
    <a class="navbar-brand" href="#">
      Welcome to Team A & C Communications
    </a>
    <div class="w-100 text-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
<!--------------Right Side of Bar ------------>
  <div *ngIf="userIsAuthenticated === false"  class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
    <ul class="navbar-nav ml-auto flex-nowrap">
      <li class="nav-item">
        <form class="form-inline my-2 my-md-0 userNameForm">
          <input #userNameField class="userNameField" id="userUserName" class="form-control" type="text" placeholder="User Name" [(ngModel)]="userToAuth.username" name="username">
          <a class="clear" (click)="userToAuth.username=null">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </form>
      </li>
      <li class="nav-item">
        <form class="form-inline my-2 my-md-0 passwordForm">
          <input #passwordField class ="password-field" id="userPasswordBox" class="form-control" type="text" placeholder="Password" [(ngModel)]="userToAuth.password" name="password">
          <a class="clear" (click)="userToAuth.password=null">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </form>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-success my-2 my-sm-0" type = "button" (click)="onLogin(); ">Login</button>
        <button class="btn btn-outline-success my-2 my-sm-0 newUserButton" type="submit" (click)="updateNewUserModal()">New User</button>
      </li>
    </ul>
  </div>

  <!--Navbar After Login-------------->

  <div  *ngIf="userIsAuthenticated === true">
    <a class="navbar-brand navbar-right" href="#">
      Welcome {{userReturned.username}}
    </a>
  </div>
</nav>



<!--CREATE USER MODAL-->

<div id="CreateUserModal" class="modal" *ngIf="newUserModal">
  <div class="modal-content">
    <h2>Sign Up</h2>
    <input class="form-control mr-sm-2 loginField" type="search"  placeholder="Username" [(ngModel)]="userToAuth.username">
    <input class="form-control mr-sm-2 loginField" type="search" placeholder="Password" [(ngModel)]="userToAuth.password">
    <button class="btn btn-outline-success my-2 my-sm-0" id="submitCreateBtn" type="submit" (click)=createNewUser()>Submit</button>
    <button class="btn btn-outline-danger my-2 my-sm-0" id="exitCreateBtn" type="submit" (click)=updateNewUserModal()>Exit</button>
  </div>

</div>
